body {
    margin-top: 60px;
    margin-bottom: 30px;
    color: #4f4e4e;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    display: inline-block;
}

.content-box {
    border: 1px solid #4f4e4e;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #4f4e4e;

    > header {
        padding: 15px;
        border-bottom: 1px solid #4f4e4e;
        border-radius: 3px 3px 0 0;
        background-color: #efefef;
    }

    .cb-body {
        padding: 50px;
        min-height: 300px;
        background-color: white;
    }
}

.print-button {
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0 15px;
    float: right;
    border-radius: 15px;
    color: white;
    background-color: #4f4e4e;
    cursor: pointer;

    &.disabled {
        background-color: #343434;
        color: darkgray;
    }
}

