
/*========Colors========*/
$carter-red: rgb(237, 28, 36);
$dark-blue: rgb(2, 45, 65);
$dark-gray: rgb(76, 77, 79);
$dark-red: rgb(175, 14, 20);
$light-gray: rgb(150, 154, 165);
$light-red: rgb(249, 183, 185);
