@model DnAPresa.Web.Models.EmployeeListModel

<section>

    <div class="">

        <div class="content-box">

            <header>

                <h1>DnA Presa</h1>

                <span id="print-button" class="print-button disabled">Print</span>

                <span id="filter-toggle" class="filter-toggle">Filter</span>

            </header>

            <div class="filter">

                @* Content Loaded Dynamically *@

            </div>

            <div class="cb-body">

                <div class="print-preview">

                    @* Content Loaded Dynamically *@

                </div>

            </div>

        </div>

    </div>

</section>

<div id="SaveHistory" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to Record this pull for historical preservation?</p>
            </div>
            <div class="modal-footer">
                <button id="SaveHistoryBtn" type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var printContentBool = false;

        $(function () {
            Get_Filter();
            InitDataTable();

            $("body").on("click", ".filter-toggle", function () {
                $(".filter-container").slideToggle();
            });

            setTimeout(function () {
                $(".filter-toggle").trigger('click');
            }, 800);

            $("body").on("click", ".print-button", function () {
                if (printContentBool == true) {
                    $("#SaveHistory").modal("show");
                }
            });

            $("#SaveHistory").on("hidden.bs.modal", function () {
                printContent();
            });

            $("body").on("click", "#SaveHistoryBtn", function () {
                saveContent();
            });
        });

        function Get_Filter() {
            $.ajax({
                type: 'POST',
                url: '/Home/_Filter',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $(".filter").html(response.PartialView);
                }
            });
        }

        // Initialize Data Table
        function InitDataTable() {
            $('#dataTable').DataTable({
                responsive: true,
                searching: false,
                paging: false,
                columns: [
                    { data: "number" },
                    { data: "firstname" },
                    { data: "lastname" },
                    { data: "terminal" },
                    { data: "drug" },
                    { data: "alc" },
                    { data: "sub" }
                ],
                order: [[4, 'desc'], [5, 'asc'], [0, 'asc']],
                drawCallback: function (settings) { // This got out of hand fast KB
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;
                    var counter = 0;
                    api.column(4, { page: 'current' }).data().each(function (group, i) {
                        if (counter == 0) {
                            if (last !== group) {

                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="8" style="background-color: #efefef;font-weight:700;color:#4f4e4e;">Screening Type: Drug</td></tr>'
                                );

                                counter++
                                last = group;
                            }
                        }
                    });
                    counter = 0;
                    api.column(5, { page: 'current' }).data().each(function (group, i) {
                        if (counter == 0) {
                            if (last !== group) {
                                if (group === "True") {
                                    $(rows).eq(i).before(
                                        '<tr class="group"><td colspan="8" style="background-color: #efefef;font-weight:700;color:#4f4e4e;">Screening Type: Drug and Alchohol</td></tr>'
                                    );
                                    counter++
                                    last = group;
                                }
                                last = group;
                            }
                        }
                    });
                    counter = 0;
                    api.column(6, { page: 'current' }).data().each(function (group, i) {
                        if (counter == 0) {
                            if (last !== group) {
                                if (group === "True") {
                                    $(rows).eq(i).before(
                                        '<tr class="group"><td colspan="8" style="background-color: #efefef;font-weight:700;color:#4f4e4e;">Screening Type: Substitutes</td></tr>'
                                    );
                                    counter++
                                    last = group;
                                }
                                last = group;
                            }
                        }
                    });
                    counter = 0;
                }
            });
        }

        function saveContent() {
            var mData = Get_SaveContentValues();

            $.ajax({
                type: 'POST',
                url: '/Home/Insert_DnAHistory',
                data: JSON.stringify(mData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    $("#SaveHistory").modal("hide");
                    if (response == true) { // TODO: create a real Indicator or Toast in app.js
                        $(".indicator-text").text("Saved");
                        $(".indicator-container").css("background-color", "#03b503")
                        $(".indicator-container").fadeIn("slow");
                        $('.indicator-container').delay(5000).fadeOut('slow');
                    } else {
                        $(".indicator-text").text("Failed");
                        $(".indicator-container").css("background-color", "red")
                        $(".indicator-container").fadeIn("slow");
                        $('.indicator-container').delay(5000).fadeOut('slow');

                    }
                }
            });
        }

        function Get_SaveContentValues() {
            var mData = {
                Employees: []
            }

            $("table tr").each(function (i, tr) {
                var employee = {
                    EmployeeNumber: $(tr).find("td:eq(0)").text(),
                    FirstName: $(tr).find("td:eq(1)").text(),
                    LastName: $(tr).find("td:eq(2)").text(),
                    Terminal: $(tr).find("td:eq(3)").text(),
                    Drug: $(tr).find("td:eq(4)").text(),
                    Alchohol: $(tr).find("td:eq(5)").text(),
                    Substitute: $(tr).find("td:eq(6)").text()
                }

                if (employee.LastName !== "") {
                    mData.Employees.push(employee);
                }
            });

            return mData;
        }

    </script>
}