<div class="row filter-container">

    <div class="col-sm-6">

        <div class="row">

            <div class="col-sm-4">

                <span>Employee Class:</span>

            </div>

            <div class="col-sm-6">

                @Html.DropDownList("EmpClassList", new SelectList(ViewBag.EmpClassList, "Key", "Value"), new { @id = "EmpClassList", @class = "form-control" })

            </div>

        </div>

        <div class="row">

            <div class="col-sm-4">

                <span>Employee Terminal:</span>

            </div>

            <div class="col-sm-6">

                @Html.DropDownList("EmpTerminalList", new SelectList(ViewBag.EmpTerminalList, "Key", "Value"), "-- Select --", new { @id = "EmpTerminalList", @class = "form-control", @disabled = "false" })

            </div>

        </div>

    </div>

    <div class="col-sm-6">

        <div class="row">

            <div class="col-sm-4">

                <span>Drug Pool:</span>

            </div>

            <div class="col-sm-3">

                @Html.TextBox("DrugPool", 10, new { @class = "form-control" })

            </div>

        </div>

        <div class="row">

            <div class="col-sm-4">

                <span>Alchohol Pool:</span>

            </div>

            <div class="col-sm-3">

                @Html.TextBox("AlcPool", 10, new { @class = "form-control" })

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">

    $(function () {
        EvaulateDropDownLists();

        $("#EmpClassList, #EmpTerminalList").on("change", function () {
            EvaulateDropDownLists();
            Get_FilteredEmployees();
        });

        $("#DrugPool, #DrugPoolPercent, #AlcPool, #AlcPoolPercent").on("keyup", delay(function (e) {
            Get_FilteredEmployees();
        }, 500));
    });

    function Get_FilteredEmployees() {
        var mData = Get_FilterValues();
        
        $.ajax({
            type: 'POST',
            url: '/Home/Get_FilteredEmployees',
            data: JSON.stringify(mData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $(".print-preview").html(response.PartialView).fadeIn("slow");
                InitDataTable();
            }
        });
    }

    function Get_FilterValues() {
        var mData = {
            model: {
                Tier3: $("#EmpClassList option:selected").text(),
                Terminal: $("#EmpTerminalList option:selected").text(),
                DrugPool: $("#DrugPool").val(),
                AlcPool: $("#AlcPool").val()
            }
        }
        return mData;
    }

    function EvaulateDropDownLists() {
        var empClass = $("#EmpClassList option:selected").text();
        
        if (empClass === "Drivers") {
            // Enable
            $("#EmpTerminalList").attr("disabled", false);
        } else {
            // Disable
            $("#EmpTerminalList").attr("disabled", true);
            // Set value
            $("#EmpTerminalList").val("");
        }
    }

</script>
