<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TMW_LiveEntities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAUS03TMW1;initial catalog=TMW_Live;integrated security=True;application name=DnAPresa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TMW_LiveEntities1" connectionString="metadata=res://*/TMW_Live.csdl|res://*/TMW_Live.ssdl|res://*/TMW_Live.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAUS03TMW1;initial catalog=TMW_Live;integrated security=True;application name=DnAPresa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CarterProdEntities" connectionString="metadata=res://*/CarterProd.csdl|res://*/CarterProd.ssdl|res://*/CarterProd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAUS03SQL2,13479;initial catalog=CarterProd;integrated security=True;application name=DnAPresa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TMW_LiveEntities2" connectionString="metadata=res://*/DnAHistory.csdl|res://*/DnAHistory.ssdl|res://*/DnAHistory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAUS03TMW1;initial catalog=TMW_Live;integrated security=True;multipleactiveresultsets=True;application name=DnAPresa&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>